<% provide(:title, 'Главная') %>
<div class="row">
  <div class="col-lg-4 col-md-6">
    <img class="img-rounded img-responsive" data-src="holder.js/140x140" alt="140x140" src="http://gde.ru/images/img_ru/700/6364045.jpg">
    <h2>Как работает охранная система квартиры?</h2>
    <p>В современном мире охранные системы квартир эволюционировали в нечто большее, чем только защита от проникновения злоумышленников. Хотя, конечно, это является основной задачей. Установка охранной системы (сигнализации) в квартире занимает 2–3 часа, а стоимость подключения равна цене современного...</p>
    <p><a class="btn btn-default" href="#" role="button">Подробнее »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-md-6">
    <img class="img-rounded img-responsive" data-src="holder.js/140x140" alt="140x140" src="http://i.wp.pl/a/f/jpeg/32673/inwigilacja-kamera-podgladanie-szpieg-fotolia-660x440.jpeg">
    <h2>Скрытое видеонаблюдение</h2>
    <p>В последние годы на многих объектах промышленного и гражданского характера находит все более широкое воплощение принцип «интеллектуального» комплексного автоматизированного управления всеми жизненно важными функциями на основе интеграции слаботочных систем. При этом большое значение уделяется обустройству программно-аппаратных комплексов систем обеспечения безопасности, к ...</p>
    <p><a class="btn btn-default" href="#" role="button">Подробнее »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-md-6">
    <img class="img-rounded img-responsive" data-src="holder.js/140x140" alt="140x140" src="http://alles.dp.ua/Store/CatalogueItems/10/10989/allesdpua7.jpg">
    <h2>Комплекты видеонаблюдения</h2>
    <p>Всегда эффективные решения по реализации систем видеоконтроля. Если вы решите воспользоваться нашими услугами, наша монтажная служба готова в течение одного дня произвести установку всего приобретенного вами оборудования, и вы получите готовую эффективную систему видеонаблюдения. Наш интернет-магазин всегда предлагает все необходимое для видеонаблюдения по оптимальной цене и с предоставлением гарантий.</p>
    <p><a class="btn btn-default" href="#" role="button">Подробнее »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-md-6">
    <img class="img-rounded img-responsive" data-src="holder.js/140x140" alt="140x140" src="http://grand-sb.ru/wp-content/uploads/2013/02/videoper.jpg">
    <h2>Видеонаблюдение в системах охраны периметра</h2>
    <p>Просматривая после некоторого перерыва иностранные онлайновые журналы по безопасности, я наткнулся на упоминание технологии видеонаблюдения в системах охраны периметра, о которой мне не было известно. Это заинтересовало меня и «раскопки» были продолжены. По результатам этих исследований был составлен небольшой обзор.</p>
    <p><a class="btn btn-default" href="#" role="button">Подробнее »</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 col-md-6">
    <img class="img-rounded img-responsive" data-src="holder.js/140x140" alt="140x140" src="http://static.baza.farpost.ru/v/1407148998223_bulletin">
    <h2>Поворотные камеры: области применения, особенности инсталяции</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. VeПоворотные камеры занимают особое место среди видеокамер, используемых в системах видеонаблюдения. Использование поворотных камер позволяет решать задачу видеонаблюдения за большими открытыми пространствами путем управления положением их зон обзора. Данный тип камер может работать как внутри помещений, так и снаружи. Это позволяет производить охрану наиболее важных для конкретного объекта зон и при возникновении тревоги отображать их на рабочем месте оператора...</p>
    <p><a class="btn btn-default" href="#" role="button">Подробнее »</a></p>
  </div><!-- /.col-lg-4 -->
</div>
