<footer>
  <div class="container">
    <div class="sidebar">OOO "Галант" &copy 2014 - 2015<br>Desing by Igor Volkov<br>e-mail: gg0sha@ya.ru</div>
    </div>
  <div class="content">Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение форм развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности играет важную роль в формировании позиций, занимаемых участниками в отношении поставленных задач.<%= params[:cat] %></div>
</footer>
