 <!--Top Line -->
  <div id="top">
    <div class="container">
      <div id="logo-square" class="top-logo"></div>
      <div id="logo-pointer" class="top-logo"></div>
      <div id="logo-name" class="top-logo"></div>
      <div id="phone">8 (987) 654 32 10</div>
    </div>
  </div>
  <!--End Top Line -->
  <!--Body Container -->
  <div class="container">
    <!-- Menu -->
    <nav>
      <ul>
        <li><%= link_to "Главная", "#", class: 'links-white-orange', title: 'Главная' %></li>
        <li><%= link_to "Каталог", "#", class: 'links-white-orange', title: 'Каталог' %></li>
        <li><a href="#" title="Услуги" class="links-white-orange">Услуги</a></li>
        <li><a href="#" title="Контакты" class="links-white-orange">Контакты</a></li>
        <li><a href="#" title="О нас" class="links-white-orange">О нас</a></li>
         <li><%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %></li>
      </ul>
      <div id="location">Москва<br>Московская обл.</div>
    </nav>
    <!-- End Menu -->
