<div class="col-xs-4 sidebar-offcanvas" id="sidebar" role="navigation">

            <ul class="nav nav-pills nav-stacked">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IP-камеры видеонаблюдения<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IP-видеорегистраторы<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сетевые коммутаторы<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">IIP-видеосерверы<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Цифровые видеорегистраторы<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Аналоговые камеры наблюдения<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Мониторы видеонаблюдения<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Термокожухи<span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a href="#">Пункт 1</a></li>
                  <li><a href="#">Пункт 2</a></li>
                  <li><a href="#">Пункт 3</a></li>
                  <li><a href="#">Пункт 4</a></li>
                  <li><a href="#">Пункт 5</a></li>
                </ul>
              </li>
            </ul>
          </div>
