<div class="sidebar">
      <menu>
        <h2>Каталог:</h2>
        <li onclick="menu(1);">IP-камеры видеонаблюдения</li>
        <menu id="menu-1">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(2);">IP-видеорегистраторы</li>
        <menu id="menu-2">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(3);">Сетевые коммутаторы</li>
        <menu id="menu-3">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(4);">IP-видеосерверы</li>
        <menu id="menu-4">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(5);">Цифровые видеорегистраторы</li>
        <menu id="menu-5">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(6);">Аналоговые камеры наблюдения</li>
        <menu id="menu-6">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(7);">Мониторы видеонаблюдения</li>
        <menu id="menu-7">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
        <li onclick="menu(8);">Термокожухи</li>
        <menu id="menu-8">
          <li><a href="#">Пункт 1</a></li>
          <li><a href="#">Пункт 2</a></li>
          <li><a href="#">Пункт 3</a></li>
          <li><a href="#">Пункт 4</a></li>
          <li><a href="#">Пункт 5</a></li>
        </menu>
      </menu>
    </div>
